:root {
  --primary-color: rgb(32, 38, 57);
  --secondary-color: rgb(63, 76, 119);
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --background: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
}
body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 96px;
  margin: 20px;
}
h2,
h1,
.about-heading {
  font-family: "Abril Fatface", cursive;
}
h3 {
  opacity: 0.7;
  margin-bottom: 50px;
}
p {
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.7;
  text-align: justify;
}
@media (max-width: 768px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    margin-top: 50px;
  }
}
.head {
  padding: 0px 0px 70px 0px;
  background: var(--background);
  margin-bottom: 30px;
  text-align: center;
  color: #fff;
}
.grid-element,
.about-section {
  color: var(--primary-color);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.buttons {
  display: flex;
  justify-content: center;
}
.button {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
}
.primary-btn {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
}
.secondary-btn {
  background: var(--secondary-color);
  border: 1px solid var(--primary-color);
}
.app-btn {
  margin: 10px;
  background: var(--secondary-color);
  border: 1px solid var(--primary-color);
  box-shadow: var(--box-shadow);
}
.primary-btn:hover,
.secondary-btn:hover,
.app-btn:hover {
  color: var(--secondary-color);
  background: #fff;
  transition: all 200ms ease-in-out;
}
.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}
.email-link:hover {
  text-decoration: underline;
}
.img-fluid {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  border-radius: 10px;
}
.about-heading {
  font-size: 64px;
  line-height: 1;
  padding-bottom: 20px;
}
.bg-dark {
  background: var(--background);
}
#contact {
  margin: 40px 0px;
  display: block;
  margin: auto;
  text-align: center !important;
}
