:root {
  --primary-color: #75c9b7;
  --secondary-color: #ffffff;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body {
  font-family: "Montserrat", sans-serif;
}
h1,
h2,
h3 {
  text-align: center;
  margin: 0;
  color: rgb(33, 37, 41);
}
h1 {
  font-family: "Lora", serif;
  font-size: 96px;
  font-weight: 900;
  font-style: italic;
  background: -webkit-linear-gradient(#abd699, #75c9b7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 20px;
}
h2 {
  font-family: "Lora", serif;
  font-weight: 400;
}
h3 {
  opacity: 0.7;
  margin-bottom: 50px;
}

p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.7;
  text-align: justify;
}
img {
  vertical-align: middle;
  border-radius: 4px;
}
@media (max-width: 768px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    margin-top: 50px;
  }
}
.head {
  padding: 30px 0px 70px 0px;
  background-color: #f8f9fa;
  margin-bottom: 30px;
}
.heading {
  margin-top: 50px;
}
.button {
  display: flex;
  justify-content: center;
}
.grid-element {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.primary-btn {
  background: var(--primary-color);
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  color: var(--secondary-color);
}
.primary-btn:hover {
  color: var(--secondary-color);
  background: #5eb5a2;
}
.secondary-btn {
  background: var(--secondary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
}
.secondary-btn:hover {
  color: var(--primary-color);
  background: rgb(246, 246, 246);
}

.app-link {
  margin: 30px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.app-link:hover {
  color: var(--secondary-color);
  background: #5eb5a2;
}
.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}
.email-link:hover {
  text-decoration: underline;
}
.img-fluid {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-section {
  text-align: left;
}
.about-heading {
  font-family: "Lora", serif;
  font-size: 64px;
  font-weight: 900;
  font-style: italic;
  line-height: 1.3;
}
#contact {
  margin-top: 40px;
}
