:root {
  --primary-color: rgb(32, 38, 57);
  --secondary-color: rgb(63, 76, 119);
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: "Abril Fatface", cursive;
  font-size: 96px;
  margin: 20px;
}
h2 {
  font-family: "Abril Fatface", cursive;
}
h3 {
  opacity: 0.7;
  margin-bottom: 50px;
}

p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.7;
  text-align: justify;
}
img {
  vertical-align: middle;
  border-radius: 10px;
}
@media (max-width: 768px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    margin-top: 50px;
  }
}
.head {
  padding: 0px 0px 70px 0px;
  background: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
  margin-bottom: 30px;
  text-align: center;
  color: #ffffff;
}

.transparent {
  background: transparent !important;
}

.heading {
  margin-top: 50px;
}
.button {
  display: flex;
  justify-content: center;
}
.grid-element {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.primary-btn {
  background: var(--primary-color);
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  color: #fff;
}
.primary-btn:hover {
  color: var(--secondary-color);
  background: #fff;
}
.secondary-btn {
  background: var(--secondary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
}
.secondary-btn:hover {
  color: var(--primary-color);
  background: rgb(246, 246, 246);
}

.app-link {
  margin: 30px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.app-link:hover {
  color: #fff;
  background: var(--secondary-color);
}
.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}
.email-link:hover {
  text-decoration: underline;
}
.img-fluid {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-section {
  text-align: center;
  color: var(--primary-color);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}
.about-heading {
  font-family: "Abril Fatface", cursive;
  font-size: 64px;
  line-height: 1;
  padding-bottom: 20px;
}
.bg-dark {
  background: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
}
#contact {
  margin: 40px 0px;
  display: block;
  margin: auto;
  text-align: center !important;
}
